@font-face {
    font-family: Roboto;
    src: url("../../../assets/fonts/Roboto-Light.woff2") format("woff2");
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url("../../../assets/fonts/Roboto-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
