.show-settings {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.board--vertical {
    width: 800px;
    margin: 0 auto;
}

.board__header--vertical {
    padding: 0 2rem;
    margin-bottom: 2rem;
}

.board__main--vertical {
    flex-direction: column;
}

.list-box--vertical {
    width: 100%;
}

.list--vertical {
    width: 100%;
}

.new__list-box--vertical {
    width: 100%;
}

.new__list--vertical {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
}
