:root {
    // Colors
    --light-grey: #b7bbbd;
    --lightest-grey: #eeeeee;
    --blueish-grey: #f1f3f4;
    --background-grey: #f6f8f9;
    --black: #000000;
    --white: #ffffff;
    --primary-blue: #5271ff;
    --text-color-primary: #202124;
    --text-color-secondary-1: #595959;
    --text-color-secondary-2: #777c82;
    --text-color-tertiary: #5f6368;

    // Typography
    --size-large: 1.8rem;
    --size-medium: 1.6rem;
    --size-small: 1.4rem;
}

.dark-mode {
    --white: #1f2024;
    --blueish-grey: #292a2f;
    --background-grey: #1f2024;
    --text-color-primary: #c5c5c6;
    --text-color-secondary-1: #f1f1f2;
    --text-color-secondary-2: #e6e6e7;
    --text-color-tertiary: #969698;
}
